@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slowZoom {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.05);
    }
  }

  .animate-slowZoom {
    animation: slowZoom 30s infinite alternate linear;
  }
}